body{
          font-family: 'Open Sans', sans-serif;
}
nav{
          display: flex;
          justify-content:space-between;
          align-items:center;
          margin:0 150px;
          
          
}
.nav-title{
          color: #181818;
          font-size: 45px;
          font-weight: 800;


}
span{
          color:#FD6E0A;
}
nav > ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
          
}
li{
          margin-right: 51px;
          list-style: none;
          align-items: center;
          
}
nav a{
          color: #474747;
          text-decoration: none;
          color: var(--dark-02, #474747);
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          
}
/* .title{
          display: flex;
          align-items: center;
          justify-content: space-between;
} */
.nav-btn{
          width: 150px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #FD6E0A;
          border:none;
          color: var(--white-color, #FFF);
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding: 18px 35px;
}

.header{
          background: #FFF8F3;
          padding: 0 30px 0 100px;
          background-image: url('../images/header_bg.png'), url('../images/developer.png');
          background-repeat: no-repeat;
          /* background-size: cover; */
          
          flex-shrink: 0;
          background-position: right bottom,top left;
}
.banner{
          padding: 30px 30px 0px 150px;
          display: flex;
          align-items:center;
}    
.download-btn{
          color: var(--white-color, #FFF);
          text-align: center;
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 200px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #FD6E0A;
          border: none;
          /* margin-left: 30px; */
}
.banner-photo{
          /* padding-left: 250px; */
          width: 384px;
          height: 376px;
          flex-shrink: 0;
          margin-bottom: 0;
          background:url('../images/hardy.png')
}
.contact-btn{
          border-radius: 5px;
          border: 1px solid #FD6E0A;
          color: #FD6E0A;
          text-align: center;
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 160px;
          height: 64px;
          flex-shrink: 0;
}
.banner-greeting{
          color: var(--dark-02, #474747);
          font-family: Open Sans;
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 0;
}
.banner-title{
          color: var(--dark-01, #181818);
          font-family: Open Sans;
          font-size: 85px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: 5px;
          margin-bottom: 20px;
}
.banner-text{
          display: flex;
          width: 585px;
          flex-direction: column;
          flex-shrink: 0;
          color: var(--dark-03, #757575);
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          margin-top: 0;
}
.about{
          width: 1140px;
          height: 550px;
          flex-shrink: 0;
          border-radius: 10px;
          background: #FFF8F3;
          margin: 70px 230px;
}
.about-title{
          color: var(--dark-01, #181818);
          text-align: center;
          font-family: Open Sans;
          font-size: 35px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-top: 131px;
}
.about-text{
          display: flex;
          width: 827px;
          flex-direction: column;
          flex-shrink: 0;
          color: var(--dark-03, #757575);
          text-align: center;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          /* text-align: justify; */
          padding: 30px 157px;
}
.about-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 179px 131px 179px;
          margin-top:0 ;
}
.contain{
          width: 1140px;
          height: 200px;
          text-align: center;
          padding-bottom: 10px;
}
.contain-title{
          color: var(--dark-01, #181818);
          text-align: center;
          font-family: Open Sans;
          font-size: 35px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-left: 498px;
          
}
.contain-text{
          display: flex;
          justify-content: center;
          align-items:center;
          width: 909px;
          flex-direction: column;
          flex-shrink: 0;
          color: var(--dark-03, #757575);
          text-align: center;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          padding: 0 350px;
          margin-top: 0;
         
}
.skill{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 0px;
          margin-right: 130px;
          margin-left: 130px;
          
}
.skill-box{
          border-radius: 5px;
          background: #FFF;
          box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
          width: 247px;
          height: 330px;
          flex-shrink: 0;
          padding: 30px 0 0 30px;
}
.skill-box p{
          display: flex;
          width: 201px;
          flex-direction: column;
          flex-shrink: 0;
          color: var(--dark-03, #757575);
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          
}
.summary-title{
          text-align: center;
          color: #181818;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
}
.summary{
          display: flex;
          margin:0 200px 0 200px;
          justify-content: space-between;
}
.edu-title{
          color: #474747;
          font-size: 30px;
          font-weight: 700;
          margin: 0;
}
.edu-h3{
          color:#474747;
          font-size: 25px;
          font-weight: 700;
          margin: 0px;

}
.edu-h4{
          color:#757575;
          font-size: 20px;
          font-weight: 600;
          padding: 0px;
          margin-top: 0;
          margin-bottom: 0px;

}
.summary a{
          display: flex;
          width: 511px;
          flex-direction: column;
          flex-shrink: 0;
          color: #757575;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          padding: 0;
}
.exp-box .edu-box{
          margin: 0;
}
hr{
          margin: 5px;
}
.summary h2{
          margin: 0;
}
.experience {
          margin-top: 8px;
}
.download-btn2{
          color: var(--white-color, #FFF);
          text-align: center;
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 700;
          width: 200px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #FD6E0A;
          border: none; 
          padding: auto;
}
.footer{
          display: flex;
          justify-content:space-around;
          align-items: center;
          width: 100%;
          height: 780px;
          flex-shrink: 0;
          background: #FFF8F3;
          
}
.footer-contact{
          color: #181818;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
}
.contact-pra{
          display: flex;
          width: 400px;
          flex-direction: column;
          flex-shrink: 0;
          color: var(--dark-02, #474747);
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
}
.footer-mes-title{
          color:#181818;
          text-align: center;
          font-size: 35px;
          font-weight: 700;        
}
.footer-message input{
          width: 461px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 5px;
          background:#FFF;
          margin-top: 24px;
          margin-bottom: 24px;
          color:#757575;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          text-decoration: none;
}
.footer-message textarea{
          width: 461px;
          height: 180px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #FFF;
          color: #757575;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
}
.submit-btn{
          color: var(--white-color, #FFF);
          text-align: center;
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 700;
          width: 200px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #FD6E0A;
          border: none; 
          padding: auto; 
          margin-top: 24px;
}